<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
    <style>
        form{
            display: inline;
        }
    </style>
</head>
<body>
    <form action="/get-form-data" method="post">
        <input 
        type="text" 
        name="username" 
        id=""
        placeholder="Enter name"
        >
        <input type="email" name="email" placeholder="email " id="">
        <input type="password" name="password" placeholder="password" pattern=".{4,}">
        <button type="submit">submit</button>

    </form>
</body>
</html>